<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-zebra-scanner"
        version="2.0.0">
  <name>Zebra Barcode Scanner Plugin</name>
  <description>Cordova plugin to interface with Zebra barcode scanners.</description>
  <author>Precious Biscuit</author>
  <license>MIT</license>
  <keywords>barcode, scanner, zebra</keywords>
  <repo>https://github.com/PreciousBiscuit/cordova-zebra-scanner.git</repo>
  <issue>https://github.com/PreciousBiscuit/cordova-zebra-scanner/issues</issue>

  <engines>
    <engine name="cordova" version=">=5.0.0" />
  </engines>

  <js-module src="www/zebrascanner.js" name="ZebraScanner">
    <clobbers target="zebraScanner" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="ZebraScanner">
        <param name="android-package" value="land.cookie.cordova.plugin.zebrascanner" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
      <uses-permission android:name="android.permission.BLUETOOTH" />
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    </config-file>

    <framework src="src/android/ZebraScanner.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/libs/barcode_scanner_library_v2.3.2.0.aar" target-dir="libs/" />

    <source-file src="src/android/ZebraScanner.java"
                 target-dir="src/land/cookie/cordova/plugin/zebrascanner" />
    <source-file src="src/android/NotificationReceiver.java"
                 target-dir="src/land/cookie/cordova/plugin/zebrascanner" />
    <source-file src="src/android/barcode/BarcodeTypes.java"
                 target-dir="src/land/cookie/cordova/plugin/zebrascanner/barcode" />
    <source-file src="src/android/Constants.java"
                 target-dir="src/land/cookie/cordova/plugin/zebrascanner" />
  </platform>
</plugin>
