<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-zebra-scanner"
        version="2.0.0">
  <name>Zebra Barcode Scanner Plugin</name>
  <description>Cordova plugin to interface with Zebra barcode scanners.</description>
  <author>Precious Biscuit</author>
  <license>MIT</license>
  <keywords>barcode, scanner, zebra</keywords>
  <repo>https://github.com/PreciousBiscuit/cordova-plugin-zebra-scanner.git</repo>
  <issue>https://github.com/PreciousBiscuit/cordova-plugin-zebra-scanner/issues</issue>

  <engines>
    <engine name="cordova" version=">=5.0.0" />
  </engines>

  <js-module src="www/zebrascanner.js" name="ZebraScanner">
    <clobbers target="zebraScanner" />
  </js-module>

  <js-module src="www/zebrarfid.js" name="ZebraRFID">
    <clobbers target="zebraRFID" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="ZebraScanner">
        <param name="android-package" value="land.cookie.cordova.plugin.zebrascanner.ZebraScanner" />
      </feature>
      <feature name="ZebraRFID">
        <param name="android-package" value="land.cookie.cordova.plugin.zebrarfid.ZebraRFID" />
      </feature>
    </config-file>

<!--    <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
      <uses-permission android:name="android.permission.BLUETOOTH" />
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    </config-file>
-->
    <framework src="src/android/ZebraScanner.gradle" custom="true" type="gradleReference" />
    <lib-file src="./src/android/libs/barcode_scanner_library_v2.6.10.0-release.aar"/>
    <lib-file src="./src/android/libs/rfid_scanner_library_2.0.1.34.aar"/>

    <!-- BARCODE -->
    <source-file src="src/android/ZebraScanner.java" target-dir="src/land/cookie/cordova/plugin/zebrascanner" />
    <source-file src="src/android/NotificationReceiver.java" target-dir="src/land/cookie/cordova/plugin/zebrascanner" />
    <source-file src="src/android/barcode/BarcodeTypes.java" target-dir="src/land/cookie/cordova/plugin/zebrascanner/barcode" />

    <!-- RFID -->
    <source-file src="src/android/ZebraRFID.java"             target-dir="src/land/cookie/cordova/plugin/zebrarfid" />
    <source-file src="src/android/rfid/RFIDHandler.java"      target-dir="src/land/cookie/cordova/plugin/zebrarfid/rfid" />
    <source-file src="src/android/rfid/SDKResult.java"        target-dir="src/land/cookie/cordova/plugin/zebrarfid/rfid" />

  </platform>

</plugin>
